.box1{
    border:1px solid rgb(194, 193, 193);
    background-color: rgb(194, 193, 193);
    margin-left:20%;
    margin-top:5%;
    width:50%;
    height:300px;
}

.box1 h1{
    text-align: center;
}

.box2{
    border:1px solid white;
    background-color: white;
    margin-left:5%;
    width:90%;
    height:200px;
}

button{
    text-align: center;
    border:0px;
    background-color: skyblue;    
    width:100px;
    height:30px;
}


#box3{
    text-align: center;
    border:1px solid black;
    margin-left:50%;
    margin-top:-30%;
    width:40%;
    height:100px;
}

.inputid1{
    font-size:15px;
    color:black;
    width:300px;
    height:20px;
    margin-top:3%;
}
.inputid2{
    font-size:15px;
    color:black;
    width:300px;
    height:20px;
    margin-top:3%;
}